:root {
  --pri-color: #333;
  --sec-color: #fff;
  --bg-color:#f8f8f8;
  --btn-color: rgb(19, 105, 55);
  --spec-color: orangered;
  --Roboto: "Roboto", sans-serif;
  font-optical-sizing: auto
}

/* Utilities */
.spec {
  color: var(--spec-color)
}

.country-details {
  font-weight: 800;
}

.spec-two {
  color: var(--btn-color);
  font-weight: 500;
}

.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}


.btn-gray {
  background: var(--pri-color);
  color: var(--sec-color);
}
.btn-grn {
  background: var(--btn-color);
  color: var(--sec-color);
}

.btn:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  font-family: var(--Roboto);
  background: var(--bg-color);
  color: var(--pri-color);
}
a {
  text-decoration: none;
  color: var(--pri-color);
}

.header {
  height: 60vh;
  width: 100vw;
  background: var(--bg-color);
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 20px;
  background: var(--sec-color);
  overflow: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--pri-color);
}

.social-media {
  display: flex;
  gap: 10px;
}

.nav-list {
  display: flex;
  gap: 10px;
}
.nav-list li {
  list-style-type: none;
}

div.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3rem ;
}

div.hero h1 {
  margin: 2rem 0;
}

#input-form {
  padding: 5px;
  width: 60%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;

}

#input-form input {
  padding: 4px;
  border: 1px solid var(--pri-color);
  border-radius: 5px;
  font-size: 20px;
  width: 80%;
  outline: none;

}

#input-form input:hover {
  transform: scale(1.02);
  transition: all 0.23s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}


/* Section COUNTRY_INFO */
/* .info-container {

} */

img {
  max-width: 50px;
  max-height: 35px;
}
